@{
    ViewData["Title"] = "Admin Management Portal";
}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-6">
			<vc:add-person></vc:add-person>
		</div>
		<div class="col-lg-12">
			<vc:person-search></vc:person-search>
		</div>
	</div>
</div>
